extends ../layout

block content
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', placeholder='Group Name', autofocus=true)
    .form-group
      label.col-sm-3.control-label(for='wager') Entry Wager
      .col-sm-7
        input.form-control(type='text', name='wager', id='wager', placeholder='Entry Wager', autofocus=true)
    .form-group
      label.col-sm-3.control-label(for='firstPlaceWin') First Place Prize
      .col-sm-7
        input.form-control(type='text', name='firstPlaceWin', id='first-place-win', placeholder='First Place Prize', autofocus=true)
    .form-group
      label.col-sm-3.control-label(for='secondPlaceWin') Second Place Prize
      .col-sm-7
        input.form-control(type='text', name='secondPlaceWin', id='second-place-win', placeholder='Second Place Prize', autofocus=true)
    .form-group
      label.col-sm-3.control-label(for='thirdPlaceWin') Third Place Prize
      .col-sm-7
        input.form-control(type='text', name='thirdPlaceWin', id='third-place-win', placeholder='Third Place Prize', autofocus=true)
    .form-group
      label.col-sm-3.control-label(for='lastCarRunning') Last Car Running Prize
      .col-sm-7
        input.form-control(type='text', name='lastCarRunning', id='last-car-running', placeholder='Last Car Running Prize', autofocus=true)
    .form-group
      label.col-sm-3.control-label(for='maxEntries') Maximum number of entries (per person)
      .col-sm-7
        input.form-control(type='number', name='maxEntries', id='max-entries', placeholder='Max Entries per person', autofocus=true, min="1", max="17")
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-user
          | Create Group
