extends ../layout

block content
  h4 Current Positions
  ul.list-group
    for driver, index in drivers
      - var userName = driver.user ? ' - ' + driver.user : '';
      li.list-group-item #{index + 1}. #{driver.firstName} #{driver.lastName} #{userName} #[span.badge #{driver.no}]
