extends ../layout

block content
  h3 Your Groups
  .pull-right Add New i.fa.fa-plus-circle
  .ul.list-group
    - for group in groups
      .li.list-group-item
        a(href='/group/#{group.id}/join') #{group.name}
        p First Place: #{group.prizes.first} | Second Place: #{group.prizes.second} | Third Place: #{group.prizes.third} | Last Car Running: #{group.prizes.last}
          .ul
            - for user in group.users
              .li.list-group-item
                = user.profile.name
