extends ../layout

block content
  h3 Your Groups
    a(href="/group/new", class="button btn btn-default pull-right") Add New #[i.fa.fa-plus-circle]
  .ul.list-group
    - if (groups.length > 0)
      - for group in groups
        .li.list-group-item
          a(href='/group/#{group.id}/join') #{group.name}
          p First Place: #{group.prizes.first} | Second Place: #{group.prizes.second} | Third Place: #{group.prizes.third} | Last Car Running: #{group.prizes.last}
            .ul
              - for user in group.users
                .li.list-group-item
                  = user.profile.name
    - else
      br
      p It looks like your the first of your friends to join Race Pool. Go ahead and create a group to invite your friends to join you!
