extends ../layout

block content

  script.
    function toggleShareLinks() {
      shareLinks = document.getElementById('share-links');
      if (shareLinks.style.display === 'none') {
        shareLinks.style.display = 'block';
      } else {
        shareLinks.style.display = 'none';
      }
    }
    
    new Clipboard('#copy-to-clipboard');
    
  if group.closed
      a(href="/group/" + group.id + "/standings", class="button btn btn-default") View Current Standings

  h3 #{group.name}
    hr
    if !group.closed && group.creatorId === currentUserId
      form.form-horizontal(action='/group/#{group.id}/close' id='close-group-form', method='GET')
        input(type='hidden', name='_csrf', value=_csrf)
        button.pull-right.btn.btn-default(type="submit") Close Group
    else if group.closed
      form.form-horizontal(action='/group/#{group.id}/pickDriver' id='close-group-form', method='GET')
        input(type='hidden', name='_csrf', value=_csrf)
        button.pull-right.btn.btn-default(type="submit") Pick Driver! (Costs: #{group.wager})
    else
      h5 You will receive an email when the group owner has closed the group and then you can pick your drivers!
      hr
      
    if !group.closed
      if currentUserIsInGroup
        button.btn.btn-primary(onclick="toggleShareLinks()") Invite your friends!
      else
        form.form-horizontal(action='/group/#{group.id}/join/#{currentUserId}', method='GET')
          button.btn.btn-primary(type="submit") Request to Join
  
    div#share-links(style="display:none;")
      hr
      div.panel.panel-default
        div.panel-heading
          h4 Share on social media!
        div.panel-body
          h4
            label(for="url") Give your friends this link so they can join your group!
            div.input-group
              input.form-control#url(name="url", value="#{groupUrl}")
              span.input-group-addon#copy-to-clipboard(data-clipboard-target="#url")
                i.fa.fa-clone

    if (group.creatorId === currentUserId && requestingUsers.length > 0)
      hr
      h4 People requesting to join your group
      ul.list-group
        - for user in requestingUsers
          li.list-group-item #{user.profile.name}
              div.col-xs-4.col-sm-3.pull-right
                form.form-horizontal.pull-right(action='/group/#{group.id}/reject/#{user._id}', method='GET')
                  button.no-padding.btn.no-btn(type="submit")
                    i.fa.fa-lg.fa-times.red
              form.form-horizontal.pull-right(action='/group/#{group.id}/allow/#{user._id}', method='GET')
                button.no-padding.btn.no-btn(type="submit")
                  i.fa.fa-lg.fa-check.green


    h4 Prizes
    ul.list-group
      li.list-group-item First Place: #{group.prizes.first}
      li.list-group-item Second Place: #{group.prizes.second}
      li.list-group-item Third Place: #{group.prizes.third}
      li.list-group-item Last Place: #{group.prizes.last}
    h4 Members
    ul.list-group
      - for user in group.users
        li.list-group-item #{user.profile.name}
